/* index.css - gaya global untuk project RenovaWeb */

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: #1e1e1e;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
}